@import '../../shared/media';

.button {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all .5s ease;

  @include forMobile {
    width: 100%;
  }
}

.button:hover {
  transform: scale(1.05);
}


.button_primary {
  margin-top: 60px;
  background-color: #4077F3;
}

.button_outline {
  margin-top: 60px;
  background-color: transparent;
  border: 2px solid #4077F3;
  color: #4077F3;
}