@import '../../shared/media';

.logo {
  width: 140px;
  img {
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;  
    font-weight: 300;
    line-height: 12px;
    color: #E4E5EA;
  }

  @media all and (max-width: 750px) {
    display: none;
  }
}

.ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include forMobile {
    gap: 16px
  }
}


.icons {
  display: flex;
   justify-content: space-between;
   gap: 30px
}

.header {
  padding-top:11px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 47px;

  @media all and (max-width: 750px) {
    padding: 16px 32px;
    background-color: rgba(0, 0, 0, 0.205);
    justify-content: center;
    margin: 0 -24px;
  }
}

.headerText {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: rgb(199, 156, 0);
    transition: all .5s ease;
  }

  @include forMobile {
    font-size: 12px;
  }
}

.contacts {
  display: flex;

  &>a {
    margin-right: 47px;
  }
}