* {
  color: #e4e5ea;
}

.App_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  position: relative;
}

.balls {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: -9999;
  filter: blur(4px);
}